.app-content {
    display: flex;
    /* height: 92.5vh; */
}

.button-link a:hover {
    /* verified */
    color: #ffffff;
}

.container-div {
    display: flex;
    height: 70vh;
    width: 70vw;
    align-items: center;
    justify-content: center;
    /* background-color: #fff; */
}

.text-editor {
    display: flex;
    width: 70vw;
    align-items: center;
    justify-content: center;
    /* background-color: #fff; */
}

.content {
    display: flex;
    flex: 1;
    background-color: #ececec;
    padding: 55px 10px 10px;
    min-height: 100vh;
}

.data-form {
    background-color: white;
    padding: 15px;
    border: rgb(172, 164, 164);
    border-style: solid;
    border-width: 1px;
    width: 80vw;
}

.data-form-level1 {
    background-color: white;
    padding: 5px;
    border: rgb(172, 164, 164);
    border-style: solid;
    border-width: 1px;
    width: 80vw;
}

.data-table {
    border: rgb(172, 164, 164);
    border-style: solid;
    border-width: 1px;
    width: 80vw;
    margin-top: 5px;
}

.data-table-level1 {
    border: rgb(172, 164, 164);
    border-style: solid;
    border-width: 1px;
    width: 75vw;
    margin-top: 5px;
}

.menu {
    /* verified */
    padding: 50px 0px 0px 0px;
    min-height: 100vh;
    /* background: '../../../public/BackgroundImageMenu.jpg'; 
    color: #ffffff;
    background-color: #9e4903;
    width: 30vh; 
    */
}

.tool-bar {
    /* verified */
    display: flex;
}

.tool-bar-filters {
    /* verified */
    display: flex;
    border: #a0a0a0;
    border-style: solid;
    border-width: 1px;
    width: 80vw;
    min-height: 60px;
    background-color: #e0f0f5;
    /* background-color: #b1e2f1; */
    padding-left: 10px;
    padding-top: 10px;
}

.tool-title {
    /* verified */
    margin-top: 5px;
    padding: 5px 15px 5px 0px;
    width: 30vw;
    /* visibility: hidden; */
}

.photo-square {
    float: left;
}

.data-form .edit-photo {
    margin: 0px 10px;
}

.photo-square img {
    width: 16vh;
    height: 20vh;
    margin-bottom: 16px;
    align-self: center;
    border: rgb(172, 164, 164);
    border-style: solid;
    border-width: 1px;
    padding: 1px;
    border-radius: 5px;
}

.webcam-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding:10px 0;
}

.webcam, img {
    width: 16vw;
    height: 20vw;
}


