.app-content {
    display: flex;
    /* height: 92.5vh; */
}

.button-link a:hover {
    /* verified */
    color: #ffffff;
}

.container-div {
    display: flex;
    height: 70vh;
    width: 70vw;
    align-items: center;
    justify-content: center;
    /* background-color: #fff; */
}

.text-editor {
    display: flex;
    width: 70vw;
    align-items: center;
    justify-content: center;
    /* background-color: #fff; */
}

.content {
    display: flex;
    flex: 1;
    background-color: #ececec;
    padding: 55px 10px 10px;
    min-height: 100vh;
}

.data-form {
    background-color: white;
    padding: 15px;
    border: rgb(172, 164, 164);
    border-style: none; /*solid;*/
    border-width: 1px;
    width: 90vw;
    margin-left: 3vw;
}

.data-form-level1 {
    background-color: white;
    padding: 5px;
    border: rgb(172, 164, 164);
    border-style: none; /*solid;*/
    border-width: 1px;
    width: 90vw;
    margin-left: 3vw;
}

.data-table {
    border: rgb(172, 164, 164);
    border-style: none; /*solid;*/
    border-width: 1px;
    width: 90vw;
    margin-top: 5px;
    margin-left: 3vw;
}

.data-table-level1 {
    border: rgb(172, 164, 164);
    border-style: none; /*solid;*/
    border-width: 1px;
    width: 80vw;
    margin-top: 5px;
    /* margin-left: 3vw; */
}

.menu {
    /* verified */
    padding: 50px 0px 0px 0px;
    min-height: 100vh;
    /* background: '../../../public/BackgroundImageMenu.jpg'; 
    color: #ffffff;
    background-color: #9e4903;
    width: 30vh; 
    */
}

.menu-item {
    /* background-color: #6c757d; */
    background-color: #007bff;
    ;
    color: #fff !important;
    border: 0ch;
}

.menu-item:hover {
    color: #000 !important;
}

.tool-bar {
    /* verified */
    display: flex;
}

.tool-bar-filters {
    /* verified */
    display: flex;
    border: #a0a0a0;
    border-style: none; /*solid;*/
    border-width: 1px;
    width: 90vw;
    min-height: 60px;
    background-color: #e0f0f5;
    /* background-color: #b1e2f1; */
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 3vw;
}

.tool-title {
    margin-top: 5px;
    padding: 5px 15px 5px 0px;
    width: 43vw;
}

.tool-title2 {
    margin-top: 5px;
    padding: 5px 15px 5px 0px;
    width: 55vw;
}

.tool-title-level1 {
    /* verified */
    margin-top: 0;
    padding: 0px 15px 15px 0px;
    width: 43vw;
    /* visibility: hidden; */
}

.photo-square {
    float: center;
}

.photo-square img {
    width: 20vh;
    height: 25vh;
    margin-bottom: 8px;
    align-self: center;
    border: rgb(172, 164, 164);
    border-style: solid;
    border-width: 1px;
    padding: 0px;
    border-radius: 5px;
}

.webcam-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
}

.webcam,
img {
    width: 16vw;
    height: 20vw;
}

.transition {
    animation-name: example;
    animation-duration: 4s;
    animation-direction: reverse
}

.tool-buttons {
    display: flex;
    width: 50vw;
    justify-content: flex-end;
}

.tool-buttons a:hover {
    /* verified */
    color: #ffffff;
}

div .medicine {
    width: 60vw
}

div .medicineAdd {
    max-width: 30vw
}

.absolute {
    position: absolute !important;
    z-index: 99;
}
